#header_name
	{
		font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		margin-left: 80px;
		margin-top: 20px;
		font-size: 3em;
	}
	
	html { 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
	#login_div
	{
		clear: left;
		height: 330px;
		background-color: white;
		border-radius: 20px;
		border: 5px solid grey;
		background-color: #283A44;
	}

	#login_btn
	{
		float: left; 
		margin-right: 14px;
		margin-top: 10px;
	}

	